{% extends 'base.html' %} 

{% block title %}Delete Post{% endblock title %} 

{% block content %} 
<h1 class="delete-title">Delete Post</h1>
<form method="POST">
  {% csrf_token %}
  <div class="new-info-line">
    <h4>Are you sure you want to delete "{{ post.title }}" ?</h4>
    <input type="submit" value="Confirm Delete" class="btn btn-danger delete-btn">
  </div> 
  <br>
  <p>
    <a href="javascript:history.go(-1)"onMouseOver="self.status.referrer;return true" class="btn btn-outline-secondary">BACK</a>
    <a href="{% url 'post_list' %}" class="btn btn-outline-secondary">
      Go to Posts List
    </a>
  </p>
</form>
{% endblock content %} 