{% extends 'base.html' %} 

{% block title %}Delete Post{% endblock title %} 

{% block content %} 
<h1 class="delete-title">Delete Post</h1>
<div class="new-info-line">
  <h4>Are you sure you want to delete "{{ post.title }}" ?</h4>
</div>
<br>
<form method="POST">
  {% csrf_token %} 
  <input type="submit" value="Confirm Delete" class="btn btn-danger">
  <br><br>
  <p>
    <a href="javascript:history.go(-1)"onMouseOver="self.status.referrer;return true" class="btn btn-outline-secondary">BACK</a>
    <a href="{% url 'post_list' %}" class="btn btn-outline-secondary">
      Go to Posts List
    </a>
  </p>
</form>
{% endblock content %} 