{% extends 'base.html' %} 

{% block title %}Posts-Searched{% endblock title %} 

{% block content %} 
  <center>
    {% if searched %} 
      <h1>You Searched For {{ searched }}</h1>
      <br/>
      {% for posts in posts %}
        {{ posts }}<br/>
      {% endfor %} 
    {% else %} 
      <h1>Hey! You Forgot To Search For A Post...</h1>

    {% endif %} 
  </center>



  <!--
  {% for post in post_list %} 
    <div class="card post-list">
      <div class="card-body">
        <h5 class="card-title">Post #{{ post.id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.title }}</h6>-->
        <!-- below--v CC Vid#3 - title_tag --> <!-- 
        <h6 class="card-title-tag">{{ post.title_tag }}</h6>
        <h6 class="card-category">Category: {{ post.category }}</h6>
        <p class="card-text">{{ post.body|truncatechars:500 }}</p>
        <a href="{% url 'post_detail' post.id %}" class="card-link">
          Continue Reading
        </a>
      </div>
    </div>
  {% endfor %} 
  -->
  
{% endblock content %} 