h1 {
  color: rgb(231, 165, 23);
}

/* nav 

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  background-color: mediumpurple;
  color: rgb(216, 124, 19);
} */

/*

.navbar-nav ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Roboto";
  color: rgb(190, 45, 45);
} */

.container-fluid {

  color: white;
  background-color: darkslateblue;
}

.nav-link {
  color: white;
}

.logo {
 display: block;
 block-size: 25px;
}

.bars-icon {
  display: block;
  block-size: 15px;
}

.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: white;
}

.nav-link:hover{
  color: white;
  background-color: darkgreen;
  cursor: pointer;
  transform: scale(1.07);
}

.nav-link.active:hover{
  color: white;
  background-color: darkgreen;
  cursor: pointer;
  transform: scale(1.07);
}

.navbar-toggler {
  border: 0px;
}

.navbar.nav {
  border-style: none;
}

.nav-item-spacer a {
  color: darkslateblue;
}

/* In Navbar Line - 'Welcome User Line' */

.welcome-user-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
}

.welcome-user-line-edit-profile {
  color: white;
  font-size: xx-small;
}

.welcome-user-line-edit-profile:hover {
  color: white;
  background-color: darkgreen;
  font-size: xx-small;
}

/*

li{
  color: white;
  list-style: none;
}

nav a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  width: 150px;
  height: 26px;
  padding: 0 20px 0 20px;
}

@media (max-width: 675px) {
  nav ul {
      flex-direction: column;
  }
  
  nav li {
      margin: .5em 0;
  }

  nav {
    height: 100%;
  }

  nav a {
    height: 10px;
    padding: 0px;
  }
} */